* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --hue: 194;
  --bg-color: hsl(var(--hue), 0%, 100%);
  --bg-color-light: hsla(var(--hue), 9%, 89%, 1);
  --primary-color: hsl(var(--hue), 6%, 21%);
  --seconday-color: hsl(var(--hue), 97%, 31%);
}